@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
  scroll-behavior: smooth;
}

body{
	background-color: #333A41;
	font-family: 'Roboto';
	color: gray;
	margin: 0;
}

img {
	width: 100%;
}

a{
	color:#68B030;
}

hr {
  border: 1px solid #272E35;
  margin: 5px;
	margin-top: 0;
}

input[type=text], input[type=password] {
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 3px solid white;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

input:focus {
	 outline: none;
}

textarea {
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 3px solid white;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

textarea:focus {
	outline: none;
}

button {
	font-family: 'Roboto';
	font-size: 20px;
	background-color: #FFFFFF;
	color: #333A41;
	padding: 14px 20px;
	margin: 10px 0;
	cursor: pointer;
	width: 300px;
	border: 2px solid #FFFFFF;
	border-radius: 40px;
	transition-duration: 0.3s;
}

button:hover {
	background-color: #7D4698;
	border: 2px solid #7D4698;
	color: #F8F9FA;
}

button:focus{
	outline: none;
}

button.selected{
	background-color: #59316B;
	border: 2px solid #59316B;
	color: #F8F9FA;
}


.center{
	text-align: center;
}

.right {
	margin-left: 50%;
	width: 50%;
}

.left {
	float: left;
	width: 50%;
}

.contacts {
	width: 20%;
	height: calc(100% - 105px);
	position: fixed;
	top: 43px;
	background-color: #2C333A;
	overflow-y: scroll;
}

.contacts:hover::-webkit-scrollbar-thumb {
	background: #272E35;
}

.contact {
	display: block;
	width: calc(100% - 10px);
	margin: 5px;
	padding: 15px 20px;
	background-color:#352642;
	border: 2px solid #352642;
	border-radius: 10px;
	color: #F8F9FA;
	font-size: 15px;
}

.contact:hover {
	background-color: #6a428c;
	border: 2px solid #6a428c;
}

.text {
	background-color: #F8F9FA;
	border: 1px solid #F8F9FA;
	border-radius: 40px;
}

.form-popup {
  display: none;
  text-align: center;
  z-index: 9;
  transition-duration: 0.3s;
}

.msg1_div_1 {
	float: left;
	width: 100%;
}

.msg1_div_2 {
	float: right;
	max-width: 80%;
	width: auto;
}

.msg2_div_1 {
	float: left;
	width: 100%;
}

.msg2_div_2 {
	float: left;
	max-width: 80%;
	width: auto;
}

.msg {
	color: white;
	width: auto;
	max-width: 95%;
	float: right;
	margin: 5px;
	padding: 5px 10px;
	background-color: #7D4698;
	border: 2px solid  #7D4698;
	border-radius: 30px;
	word-wrap: break-word;
	text-align: left;
	white-space: pre-wrap;
}

.msg2 {
	color: white;
	width: auto;
	max-width: 95%;
	float: left;
	margin: 5px;
	padding: 5px 10px;
	background-color: #59316B;
	border: 2px solid  #59316B;
	border-radius: 30px;
	word-wrap: break-word;
	text-align: left;
	white-space: pre-wrap;
}

.connectUp {
	margin-top: 1px;
	border-top-right-radius: 1px 1px;
}

.connectDown {
	margin-bottom: 1px;
	border-bottom-right-radius: 1px 1px;
}

.connectUp2 {
	margin-top: 1px;
	border-top-left-radius: 1px 1px;
}

.connectDown2 {
	margin-bottom: 1px;
	border-bottom-left-radius: 1px 1px;
}

.loader {
	display: inline-block;
	position: absolute;
	left: calc(50% - 20px);
	bottom: 50px;
	border: 0px;
	border-top: 12px #6B3C82;
	border-bottom: 12px #6B3C82;
  border-radius: 100%;
	border-style: double;
  width: 40px;
  height: 40px;
}

.l1 {
	animation: spin 2s ease-out infinite;
	z-index: 2;
}

.l2 {
  animation: spin 2s linear infinite;
	z-index: 1;
}

.l3 {
	animation: spin 2s ease-in infinite;
	z-index: 3;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.chat {
	position: fixed;
	top: 50px;
	width: 80%;
	height: calc(100% - 113px);
	right: 0;
	display: none;
	background-color:#333A41;
	overflow-y: scroll;
}

.chat::-webkit-scrollbar-thumb {
	background: #333A41;
}

.chat::-webkit-scrollbar-track {
	background: #333A41;
}

.chat:hover::-webkit-scrollbar-thumb {
	background: #272E35;
}

.settings_button {
	display: block;
	width: calc(100% - 10px);
	margin: 5px;
	padding: 15px 20px;
	background-color:#333A41;
	border: 2px solid #333A41;
	border-radius: 10px;
}

.settings_button:hover {
	background-color: #30373E;
	border: 2px solid #30373E;
}

.comunicate {
	position: relative;
	top: 50px;
	color: #6B3C82;
	font-size: 25px;

}

#shadow {
	display: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 85%;
	background-color: black;
}

#loggingIn {
	background-color: #08001a;
	border: 3px solid #200042;
	display: none;
 	position: absolute;
 	width: 300px;
 	height: 300px;
 	top: calc(50% - 150px);
 	left: calc(50% - 150px);
	text-align: center;
}

#keygen {
	background-color: #08001a;
	border: 3px solid #200042;
	display: none;
	position: absolute;
	width: 300px;
	height: 300px;
	top: calc(50% - 150px);
	left: calc(50% - 150px);
	text-align: center;
}

#settings_div {
	background-color: #333A41;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: none;
	overflow: auto;
}

#settings_sidebar {
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: #2C333A;
	overflow-y: scroll;
}

#settings_sidebar::-webkit-scrollbar-thumb {
	background: #272E35;
}

#send_div {
	background-color: #FFFFFF;
	width: 80%;
	height: 61px;
	max-height: 200px;
	resize: vertical;
	position: fixed;
	bottom: 0;
	right: 0;
}

#nameTag {
	position: fixed;
	width: 80%;
	left: 20%;
	height: 50px;
	background-color: #272E35;
	font-size: 25px;
	padding-top: 15px;
	text-align: center;
}

#chatBox {
	position: fixed;
	top: 50px;
	width: 80%;
	height: calc(100% - 113px);
	right: 0;
}

#message {
	background-color: #DCDCDC;
	color: #F8F9FA0;
	padding: 1px 10px;
	width: calc(80% - 15px);
	min-height: 46px;
	word-wrap: break-word;
	resize: vertical;
	max-height: 140px;
	overflow: scrolls;
	float: left;
}

#message::-webkit-scrollbar {
	width: 0;
}

#sendBtn {
	position: fixed;
	color: #F8F9FA0;
	background-color: #EAEBEC;
	padding: 14px 20px;
	font-size: 12px;
	cursor: pointer;
	width: calc(0.2*80%);
	margin: 1px;
	border: none;
	bottom: 7px;
}

#sendBtn:hover {
	background-color: #7D4698;
	color: #F8F9FA;
}

#sendBtn:active {
	background-color: #59316B;
	color: #F8F9FA;
}

#sendBtn:focus {
	outline: none;
}

#register {
	margin-top: 21px;
}

#searchbar {
	width: calc(100% - 10px);
	margin: 5px;
	padding: 6px 20px;
	border-radius: 10px;
	background-color: #272E35;
	border: 2px solid #272E35;
}

#profile {
	display: table;
	text-align: center;
	position: fixed;
	bottom: 32px;
	width: 20%;
	height: 30px;
	background-color: #272E35;
}

#username {
	display: table-cell;
	vertical-align: middle;
}

#settings {
	display: table;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 20%;
	height: 31px;
	background-color: #272E35;
}

#err_hndlr {
	color: #b54747;
	display: table-cell;
	vertical-align: middle;
}

#add_frnd_popup{
	position: absolute;
	width: 200px;
	height: 100px;
	left: calc(50% - 100px);
	top: calc(50% - 50px);
	background-color: #272E35;
	z-index: 1;
	display: none;
	overflow: auto;
	border-radius: 15px;
	border: 2px solid #272E35;
}

#add_frnd {
	position: relative;
	width: 30px;
	margin: 5px 5px;
	cursor: pointer;
}

#add_searchbar {
	position: relative;
	width: 70%;
	left: 15%;
	padding: 6px 20px;
	border-radius: 10px;
	background-color: #333A41;
	border: 2px solid #333A41;
	color: white;
}

#add_frnd_button {
	position: relative;
	background-color: #333A41;
	border: 2px solid #333A41;
	width: 30%;
	height: 25%;
	left: 35%;
	padding: 2px;
	font-size: 15px;
	color: #757575;
}

#add_frnd_button:hover {
	background-color: #7D4698;
	border: 2px solid #7D4698;
	color: #F8F9FA;
}

#add_frnd_button:active {
	background-color: #59316B;
	border: 2px solid #59316B;
	color: #F8F9FA;
}


#hentaispinner {
	position: fixed;
	left: calc(20% - 27px);
	width: 23px;
	bottom: 4px;
	cursor: pointer;
}

#back {
	position: fixed;
	right:4px;
	top:4px;
	width:20px;
	cursor: pointer;
}

#searchbox {
	position: fixed;
	width: 20%;
	background-color: #2C333A;
}

#logo {
	width: calc(100% - 100px);
	margin-left: 50px;
	margin-right: 50px;
}


/* width */
::-webkit-scrollbar {
 width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
 background: #2C333A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
 background: #2C333A;
}

::-webkit-input-placeholder {
  color: #757575;
  font-size: 13px;
}
::-moz-placeholder {
  color: #757575;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: #757575;
  font-size: 13px;
}
::placeholder {
  color: #757575;
  font-size: 13px;
}
::-webkit-input-placeholder {
  color: #757575;
  font-size: 13px;
  font-family: 'Roboto';
}
::-moz-placeholder {
  color: #757575;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: #757575;
  font-size: 13px;
  font-family: 'Roboto';
}
::placeholder {
  color: #757575;
  font-size: 13px;
  font-family: 'Roboto';
}
