@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
	background-color: #333A41;
	font-family: 'Roboto';
	color: gray;
	margin: 0;
}

img {
	width: 100%;
}

a{
	color:#68B030;
}

hr {
  border: 1px solid #272E35;
  margin: 5px;
	margin-top: 0;
}

input[type=text], input[type=password] {
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 3px solid white;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

input:focus {
	 outline: none;
}

textarea {
	width: 300px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 3px solid white;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

textarea:focus {
	outline: none;
}

button {
	font-family: 'Roboto';
	font-size: 20px;
	background-color: #FFFFFF;
	color: #333A41;
	padding: 14px 20px;
	margin: 10px 0;
	cursor: pointer;
	width: 300px;
	border: 2px solid #FFFFFF;
	border-radius: 40px;
	transition-duration: 0.3s;
}

button:hover {
	background-color: #7D4698;
	border: 2px solid #7D4698;
	color: #F8F9FA;
}

button.selected {
	background-color: #59316B;
	border: 2px solid #59316B;
	color: #F8F9FA;
}

button:focus {
	outline: none;
}

.center{
	text-align: center;
}

.right {
	margin-left: 50%;
	width: 50%;
}

.left {
	float: left;
	width: 50%;
}

.contacts {
	width: 20%;
	height: calc(100% - 105px);
	position: fixed;
	top: 43px;
	background-color: #2C333A;
	overflow-y: scroll;
}

.contacts:hover::-webkit-scrollbar-thumb {
	background: #272E35;
}

.contact {
	width: calc(100% - 10px);
	margin: 5px;
	padding: 15px 20px;
	background-color:#333A41;
	border: 2px solid #333A41;
	border-radius: 10px;
}

.contact:hover {
	background-color: #30373E;
	border: 2px solid #30373E;
}

.text {
	background-color: #F8F9FA0;
	border: 1px solid #F8F9FA0;
	border-radius: 40px;
}

.form-popup {
  display: none;
  text-align: center;
  z-index: 9;
  transition-duration: 0.3s;
}

.send_div {
	background-color: #FFFFFF;
	width: 80%;
	height: 61px;
	max-height: 200px;
	resize: vertical;
	position: fixed;
	bottom: 0;
	right: 0;
}
.msg1_div_1 {
	float: left;
	width: 100%;
}

.msg1_div_2 {
	float: right;
	max-width: 80%;
	width: auto;
}

.msg2_div_1 {
	float: left;
	width: 100%;
}

.msg2_div_2 {
	float: left;
	max-width: 80%;
	width: auto;
}

.msg {
	color: white;
	width: auto;
	max-width: 95%;
	float: left;
	margin: 5px;
	padding: 5px 10px;
	background-color: #7D4698;
	border: 2px solid  #7D4698;
	border-radius: 30px;
	word-wrap: break-word;
	text-align: left;
	white-space: pre-wrap;
}

.msg2 {
	color: white;
	width: auto;
	max-width: 95%;
	float: left;
	margin: 5px;
	padding: 5px 10px;
	background-color: #59316B;
	border: 2px solid  #59316B;
	border-radius: 30px;
	word-wrap: break-word;
	text-align: left;
	white-space: pre-wrap;
}

.connectUp {
	margin-top: 1px;
	border-top-right-radius: 1px 1px;
}

.connectDown {
	margin-bottom: 1px;
	border-bottom-right-radius: 1px 1px;
}

.connectUp2 {
	margin-top: 1px;
	border-top-left-radius: 1px 1px;
}

.connectDown2 {
	margin-bottom: 1px;
	border-bottom-left-radius: 1px 1px;
}


#chat {
	background-color:#333A41;
	position: fixed;
	top: 0;
	width: 80%;
	height: calc(100% - 63px);
	right: 0;
	overflow-y: scroll;
}

#chat::-webkit-scrollbar-thumb {
	background: #333A41;
}

#chat::-webkit-scrollbar-track {
	background: #333A41;
}

#chat:hover::-webkit-scrollbar-thumb {
	background: #272E35;
}


#message {
	background-color: #EAEBEC;
	color: #F8F9FA0;
	padding: 1px 10px;
	width: calc(80% - 15px);
	min-height: 46px;
	word-wrap: break-word;
	resize: vertical;
	max-height: 140px;
	overflow: scrolls;
	float: left;
}

#message::-webkit-scrollbar {
	width: 0;
}

#sendBtn {
	position: fixed;
	color: #F8F9FA0;
	background-color: #EAEBEC;
	padding: 14px 20px;
	font-size: 12px;
	cursor: pointer;
	width: calc(0.2*80%);
	margin: 1px;
	border: none;
	bottom: 7px;
}

#sendBtn:hover {
	background-color: #7D4698;
	color: #F8F9FA;
}

#sendBtn:active {
	background-color: #59316B;
	color: #F8F9FA;
}

#sendBtn:focus {
	outline: none;
}

#register {
	margin-top: 21px;
}

#searchbar {
	width: calc(100% - 10px);
	margin: 5px;
	padding: 6px 20px;
	border-radius: 10px;
	background-color: #272E35;
	border: 2px solid #272E35;
}

#profile {
	position: fixed;
	bottom: 32px;
	width: 100%;
	height: 30px;
	background-color: #272E35;
}

#settings {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 31px;
	background-color: #272E35;
}

#add_frnd_popup{
	position: absolute;
	width: 400px;
	height: 300px;
	left: calc(50% - 200px);
	top: calc(50% - 150px);
	background-color: #272E35;
	z-index: 1;
	display: none;
	overflow: auto;
	border-radius: 15px;
	border: 2px solid #272E35;
}

#add_frnd {
	position: relative;
	width: 10%;
	margin: 5px 5px;
	cursor: pointer;
}

#add_searchbar {
	position: relative;
	width: 70%;
	left: 15%;
	padding: 6px 20px;
	border-radius: 10px;
	background-color: #333A41;
	border: 2px solid #333A41;
	color: white;
}

#close_adding{
	position: relative;
	width: 7%;
	margin: 5px 5px;
	float: right;
}

#hentaispinner {
	position: fixed;
	left: calc(20% - 27px);
	width: 23px;
	bottom: 4px;
}

#back {
	position: fixed;
	right:4px;
	top:4px;
	width:20px;
}

#searchbox {
	position: fixed;
	width: 20%;
	background-color: #2C333A;
}

/* width */
::-webkit-scrollbar {
 width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
 background: #2C333A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
 background: #2C333A;
}
